<launch>
    <param name="/use_sim_time" value="true" />
    <!-- rviz visualization -->
    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find me5413)/config/vins-fusion/vins_rviz_config.rviz" />

    <!-- VINS-fushion main node
    <node name="vins_node" pkg="vins" type="vins_node" output="screen"
        args="$(find me5413)/config/vins-fusion/kitti_bag.yaml" /> -->

    <node name="loop_fusion_node" pkg="loop_fusion" type="loop_fusion_node" output="screen"
        args="$(find me5413)/config/vins-fusion/kitti_bag.yaml" />

    <!-- load have_fun.bag rosbag -->

</launch>